body{
  
  background-color: rgb(6, 56, 56);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: auto;
  
  
}
 form{

  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }


form  h1{
  color:aliceblue
  

}

form input{
  width: 600px;
  height: 20px;
  padding: 10px; 
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
}

form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 624px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #fcfcfc;
    background: transparent;
    color: white;
    font-size: 26px;
    padding: 20px;
    cursor: pointer;
    margin-top: 22px;
}